*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto";
} 

.bg-img{
    width: 600px;
    position: absolute;
    top: 15%;
    right: 8%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
}
.nav-items{
    display: flex;
    justify-content: space-between
}
.nav-item{
    color: #383CC1;
    margin-left: 2rem;
    font-size: 1.1rem;
}
.signin-btn{
    background: linear-gradient(#FD297A , #9424F0);
    opacity: 0.7;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1rem;
    color: white;
}

h1{
    font-size: 5rem;
    padding-left: 8rem;
    padding-top: 5rem;
    color: #383CC1;
}

h4{
    padding-left: 8rem;
    padding-top: 3rem;
    width: 25rem;
    color: rgb(53, 53, 137);
}
.learn-more-btn{
    background: linear-gradient(#FD297A , #9424F0);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-size: 1.5rem;
    margin-left: 12rem;
    margin-top: 4rem;
    opacity: 0.7;
}
.imgs-div{
    margin-left: 47%;
}

@media screen and (max-width: 1090px) {
    .imgs-div , .nav-items{
        display: none;
    }
}

@media screen and (max-width: 600px){
    nav , h1 , h4 {
        padding: 1rem;
    }

    .learn-more-btn{
    
        padding: 0.5rem 2rem;
        font-size: 1rem;
        margin-left: 3rem;
        margin-top: 4rem;
        opacity: 0.7;
    }

}